<div *ngIf="!book">
  <h1>Cannot find book</h1>
</div>

<div *ngIf="book">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Title
      </dt>
      <dd class="govuk-summary-list__value">
        {{book.title}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> title</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Author
      </dt>
      <dd class="govuk-summary-list__value">
        {{book.author}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> author</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        ISBN
      </dt>
      <dd class="govuk-summary-list__value">
        {{book.ISBN}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> isbn</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Synopsis
      </dt>
      <dd class="govuk-summary-list__value">
        {{book.synopsis}}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> synopsis</span>
        </a>
      </dd>
    </div>
  </dl>
</div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

